<div class="home">
    {{#if user}}
    <div class="introduce">
        <div class="logo-introduce">
            <img src="/public/images/{{company.name}}/{{company.logo}}" alt="{{company.name}}">
        </div>
        <h4 class="hello-introduce">
            Welcome {{user.fullname}}
            {{#if company}}, from <b>{{company.name}}{{/if}}</b>
        </h4>
        <ul class="information">
            {{#if user.age}}
            <li>Age: {{user.age}}</li>
            {{/if}}
            {{#if user.phone_num}}
            <li>Phone: {{user.phone_num}}</li>
            {{/if}}
            {{#if company}}
            <li>Description: {{{company.desc}}}</li>
            {{/if}}
        </ul>
    </div>
    {{/if}}

    <div class="content mr-4">
        {{#if company}}
        <div class="post-wrap">
            <input
                placeholder="Start a Post"
                onclick="location.href='/post';"
            />
        </div>
        {{/if}}
        {{#each posts}}
        <div class="post">
            <div class="introduce-user mt-3">
                <img class="logo mt-3" src="/public/images/{{this.company.name}}/{{this.company.logo}}">
                <div class="name-date ml-3">
                    <span>{{this.company.name}}</span>
                    <span class="date">{{dateFormat this.createdOn "dddd, MMMM Do YYYY, h:mm:ss a"}}</span>
                </div>
            </div>
            <img class="image mt-5" src="/public/images/{{this.company.name}}/{{this.image}}" />
            <div class="content-post mt-5">{{{this.content}}}</div>

            {{#if this.test}}
            <h4 class="text-center">{{this.test.name}}</h4>
            <div class="d-flex justify-content-between">
                <h5>Test duration: {{this.test.test_length}} minutes</h5>
                <h5>Expiration date: {{dateFormat this.test.end_date "dddd, MMMM Do YYYY, h:mm:ss a"}}</h5>
                <h5>Examinee limit: {{this.test.max_examinee}}</h5>
            </div>
            <a href="/taketest?testId={{this.test._id}}" class="btn btn-outline-danger btn-block">Take test</a>
            <h4 class="my-2">Result</h4>
            <input type="hidden" id="success" value={{../success}}>

            <table class="table table-hover" style="table-layout: fixed">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Score</th>
                    </tr>
                </thead>
                {{#each this.test.examinees}}
                <tr>
                    <td>{{this.user.fullname}}</td>
                    <td>{{this.result}}</td>
                </tr>
                {{/each}}
            </table>
            {{/if}}
        </div>
        {{/each}}
    </div>
</div>

{{#section 'script'}}
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script>
        $(document).ready(() => {
            const isSuccess = $('#success').val()
            if(isSuccess === 'true') {
                Swal.fire({
                    title: 'Test complete',
                    text: 'See your score at the post',
                    icon: 'success'
                })
            }
            if(isSuccess === 'false') {
                Swal.fire({
                    title: 'Test fail',
                    text: 'You have already joined the test',
                    icon: 'error'
                })
            }
        })
    </script>
{{/section}}

{{#section 'style'}}
    <style>
        .home {
            display: grid;
            margin-top: 50px;
            grid-template-areas: "introduce main-content";
            grid-template-columns: 1fr 2fr;
        }

        .introduce {
            grid-area: introduce;
            margin-left: 5%;
            height: 50%;
            width: 400px;
            border: 1px solid #c9c9c9;
            border-radius: 1rem;
            background-color: #ffffff;
            box-shadow: 2px 2px 10px rgb(187, 187, 187);
        }

        .introduce img {
            margin-left: 100px;
            margin-top: 20px;
            height: 50%;
            width: 50%;
            object-fit: cover;
            border-radius: 2.5%;
        }

        .logo-introduce {
            top: 0;
            color: #92cee8;
            padding-bottom: 10px;
        }

        .hello-introduce {
            margin-top: 25px;
            margin-left: 20px;
            margin-right: 20px;
        }

        .information {
            text-align: left;
        }

        .information li {
            list-style-type: circle;
        }

        .content {
            grid-area: main-content;
            margin-right: 10px;
        }

        .post-wrap {
            display: flex;
            align-items: center;
            margin-top: 5px;
            width: 95%;
            height: 65px;
            margin: 0 auto;
            background-color: #ffffff;
            border: 1px solid #c9c9c9;
            border-radius: 0.5rem;
            box-shadow: 2px 2px 20px rgb(180, 180, 180);
        }

        .post-wrap input {
            height: 45px;
            width: 95%;
            border: 1px solid #c9c9c9;
            border-radius: 1.5rem;
            margin: 10px auto;
            padding-left: 45px;
            cursor: pointer;
        }

        .post-wrap input:hover {
            background-color: #e6e6e6;
        }

        .post {
            margin-top:30px;
            text-align: left;
            padding: 30px;
            padding-top: 10px;
            border:1px solid rgb(211, 211, 211);
            border-radius: 10px;
            background-color: white;
            box-shadow: 1px 1px 10px rgb(173, 173, 173);
        }

        .post img.logo {
            height: 7.5vw;
            width: 7.5vw;
            object-fit: cover;
        }
        .post img.image {
            height:100%;
            width: 100%;
            border-radius: 10%;
        }
        .introduce-user {
            display: flex;
            font-size: 20px;
            align-items: center;
            height:60px;
        }

        .introduce-user i {
            margin-right: 8px;
        }

        .name-date {
            margin-bottom: 5px;
        }

        .introduce-user span {
            display: block;
            font-size: 20px;
        }
    </style>
{{/section}}