<div class="mx-5" style="margin-top: 30px">
    <h1 class="mb-4">My Tests</h1>
    <table class="table table-hover" style="table-layout: fixed">
        <thead>
            <tr>
                <th>Name</th>
                <th>Id</th>
                <th>Test duration</th>
                <th>Expiration date</th>
                <th>Examinee limit</th>
            </tr>
        </thead>
        {{#each tests}}
            <tr>
                <td>{{this.name}}</td>
                <td>{{this._id}}</td>
                <td>{{this.test_length}}</td>
                <td>{{dateFormat this.end_date "dddd, MMMM Do YYYY, h:mm:ss a"}}</td>
                <td>{{this.max_examinee}}</td>
            </tr>
        {{else}}
            <tr>
                <td colspan="5"><h3>Empty</h3></td>
            </tr>
        {{/each}}
    </table>
</div>